.contact-form {
  z-index: 20000;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}


.dropdown-menu li {
  border-bottom: 1px solid #eee;
}

a {
  color: #acb7c0;
  text-decoration: none;
}

body {
  background-image:  url("../img/background2.jpg");

  background-position: center;
}

.bodyground {
  background-image:  url("../img/background.png");
  background-position: center;
}

.jumbotron {
	margin-bottom: 0;
	background: #4b6ade;
  	background-position: bottom;
    color: #fff;

    -webkit-text-shadow: 2px 3px 4px #000000;
    -moz-text-shadow: 2px 3px 4px #000000;
    text-shadow: 2px 3px 4px #000000;

}

.jumbotron h4 {
	display: none;
}

.navbar-default li a {
font-weight: bold;
}

.dropdown li a {
  font-weight: normal;
}

.home {
  position: relative;
  top: -40px;
  left: 45px;
}

.shrewsbury {
  display: none;
}

.shrewsbury2 {
  display: none;
}

.btn-warning {
    -webkit-filter: hue-rotate(15deg) brightness(105%);
    -moz-filter: hue-rotate(15deg) brightness(105%);
    filter: hue-rotate(15deg) brightness(105%);
}

.btn-primary,
.panel-primary {
    -webkit-filter: hue-rotate(15deg) brightness(105%);
    -moz-filter: hue-rotate(15deg) brightness(105%);
    filter: hue-rotate(15deg) brightness(105%);
}

.navbar-default {
-webkit-box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.41);
box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.41);
}

.welcome {
  text-align: center;
}

.navbar {
	position: relative;
	bottom: 51px;
	margin-bottom: 0;
	text-align: left;
}

.main {
  background: #fff;
  padding: 110px 50px 50px;
  column-count: 2;
  column-gap: 40px;	
}

.jumbotron {
	background-image: url(../img/banner_color.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 90px;
}

.compass {
	position: relative;
	bottom: 10px;
}

span {
	text-align: center;
}

.map-responsive{
    	overflow: hidden;
    	padding-bottom: 56.25%;
    	position: relative;
    	height: 0;
}

.map-responsive iframe{
    	left: 0;
    	top: 0;
    	height: 90%;
    	width: 100%;
    	position: absolute;
}

html {
  	position: relative;
  	min-height: 100%;
}

body {
  	/* Margin bottom by footer height */
  	margin-bottom: 60px;
  background-color: #fff;    
}

hr {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.3), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.3), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.3), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.3), rgba(0,0,0,0));
  border: 0;

-webkit-box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.41);
box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.41);  
margin-top: 40px;
margin-bottom: 40px;
}


.footer {
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	/* Set the fixed height of the footer here */
  	height: 60px;
  	background-color: #f5f5f5;
}

#footer {
  	width: auto;
  	max-width: 680px;
  	padding: 0 15px;
  	text-align: center;
}

#footer p {
	color: #bbb;
}

#footer .text-muted {
  	margin: 20px 0;
}

#column-left {
	visibility: hidden;

}

#column-right {
	visibility: hidden;
}

.facebook {
  display: none;
}


.carousel-caption{
    display: none;
    background: rgba(75,106,222,0.6);
    padding-left: 10px;
    padding-right: 10px;    
    border-radius: 5px;
}

.carousel img {
	min-width: 100%;
	min-height: 40%;
      overflow: hidden;
}

.brothers img {
  margin: 0 auto;
}

.pm {
  font-weight: bold;
  color: #4b6ade;
}

.chair {
font-weight: bold;
color: #e0ba52;
}

.area {
  position: relative;
  bottom: 15px;
}


/* ================================= 
  Animations & Transitions
==================================== */

.row,
.lemon,
.lemon2 {
    animation: fadein 2s, shimmy 1.5s;
    -moz-animation: fadein 2s, shimmy 1.5s;
    /* Firefox */
    -webkit-animation: fadein 2s, shimmy 1.5s;
    /* Safari and Chrome */
    -o-animation: fadein 2s, shimmy 1.5s;
    /* Opera */
}

.noanimate .row {
      animation: none;
    -moz-animation: none !Important;
    /* Firefox */
    -webkit-animation: none !Important;;
    /* Safari and Chrome */
    -o-animation: none !Important;;
    /* Opera */
}


/* ---- Fade In ---- */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* ---- Move Up ---- */

@keyframes shimmy {
    from {
        transform: translate(0, 20px);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@-moz-keyframes shimmy {
    /* Firefox */
    from {
        transform: translate(0, 20px);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@-webkit-keyframes shimmy {
    /* Safari and Chrome */
    from {
        transform: translate(0, 20px);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@-o-keyframes shimmy {
    /* Opera */
    from {
        transform: translate(0, 20px);
    }
    to {
        transform: translate(0px, 0px);
    }
}




/*/////////////////// State image management \\\\\\\\\\\\\\\\\\\\\\\ */


.panel-heading h2 {
  text-align: center;
}

.title {
  text-align: center;
  background-color: #aaa;
  padding: 20px;
  color: white;
 -webkit-text-shadow: 1px 3px 4px #000;
-moz-text-shadow: 1px 3px 4px #000;
text-shadow: 1px 2px 4px #000;
border-radius: 20px;
}

.states img {
	overflow: hidden;
   height: 150px;
    width: 150px;
    border-radius: 100%;
    border: solid 4px #aaa;     
    margin-top: 10px;
    margin-bottom: 10px;
            -webkit-filter: sepia(100%) hue-rotate(185deg) saturate(200%);
        filter: sepia(100%) hue-rotate(185deg) saturate(200%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
}

.grand img {
  height: 200px;
  width: 200px;
           -webkit-filter: sepia(100%) saturate(200%);
        filter: sepia(100%) saturate(200%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    vertical-align: center;
}

.panel {
  background-image: url("../img/repeating.png");
}


.est {
  position: relative;
  display: inline-block;
  color: #e0ba52;
  top: 80%;
  left: 0;
  text-shadow: none;
}

.meet {
  display: block !Important;
  position: relative !Important;
  bottom: -100px;
   -webkit-text-shadow: 2px 3px 4px #000000;
    -moz-text-shadow: 2px 3px 4px #000000;
    text-shadow: 2px 3px 4px #000000;  
}

.map-1 {
  display: none;
  padding-bottom: 30px;  
}

.map-2 {
  display: block;
}      

.click {
  display: none;
  position: absolute;
  top: 50px;
  right: 1%;
  left: 1%;
}

.tap {
   position: absolute;
  top: 30px;
  right: 1%;
  left: 1%;
}

.lemon {
  position: relative;
  top: -10px;
  text-align: center;
}

.lemon  h2 {
  position: relative;
  top: -25px;
}

.lemon a {
  position: relative;
  top: 10px;
}

.lemon h4 {
    font-size: 15px;
}

.lemon2 {
  position: relative;
  top: -10px;
  text-align: center;
  margin-bottom: 20
}

.lemon2  h2 {
  position: relative;
  top: -25px;
}

.lemon2 a {
  position: relative;
  top: 10px;
  font-weight: bold;
}

.lemon2 a:hover {
  font-weight: bold;  
}

.lemon2 h4 {
  color: #000;
  font-size: 15px;
}


/*/////////////////// Media Queries \\\\\\\\\\\\\\\\\\\\\\\ */

@media (min-width: 328px) {


 .shrewsground {
  position: absolute;
  right: 0px;
  top: -40px;
  background-color: #e0ba52;
    width: 100%;
       height:277px;
       z-index: -1;

     }    

      .shrewsground2 {
  position: absolute;
  right: 0px;
  top: -40px;
  background-color: #4b6ade;
    width: 100%;
       height:352px;
       z-index: -1;

     }    

     .lemon {
  position: relative;
  top: -10px;
  text-align: center;
}

.lemon  h2 {
  position: relative;
  top: -25px;
  color: white;
 -webkit-text-shadow: 1px 3px 4px #000;
-moz-text-shadow: 1px 3px 4px #000;
text-shadow: 1px 2px 4px #000;    
}

.lemon a {
  position: relative;
  top: 10
}

     .lemon2 {
  position: relative;
  top: -10px;
  text-align: center;
}

.lemon2  h2 {
  position: relative;
  top: -25px;
  color: white;
 -webkit-text-shadow: 1px 3px 4px #000;
-moz-text-shadow: 1px 3px 4px #000;
text-shadow: 1px 2px 4px #000;    
}

.lemon2 a {
  position: relative;
  top: 10
}

.lemon2 h4 {
  color: #fff;
}

@media (min-width: 380px) {
 .shrewsground {
  position: absolute;
  right: 0px;
  top: -40px;
  background-color: #e0ba52;
    width: 100%;
       height:261px;
       z-index: -1;

     }    

      .shrewsground2 {
  position: absolute;
  right: 0px;
  top: -40px;
  background-color: #4b6ade;
    width: 100%;
       height:328px;
       z-index: -1;

     }    

     .lemon {
  position: relative;
  top: -10px;
  text-align: center;

}

.lemon  h2 {
  position: relative;
  top: -25px;
  color: white;
 -webkit-text-shadow: 1px 3px 4px #000;
-moz-text-shadow: 1px 3px 4px #000;
text-shadow: 1px 2px 4px #000;    
}

.lemon a {
  position: relative;
  top: 10
}

     .lemon2 {
  position: relative;
  top: -10px;
  text-align: center;
}

.lemon2  h2 {
  position: relative;
  top: -25px;
  color: white;
 -webkit-text-shadow: 1px 3px 4px #000;
-moz-text-shadow: 1px 3px 4px #000;
text-shadow: 1px 2px 4px #000;    
}

.lemon2 a {
  position: relative;
  top: 10
}

.lemon2 h4 {
  color: #fff;
}


}

@media(min-width: 462px) {
  .lemon2 {
    height: 280px;
  }
  }

@media(min-width: 461px) {
   .shrewsground {
  position: absolute;
  right: 0px;
  top: -40px;
  background-color: #e0ba52;
    width: 100%;
       height:261px;
       z-index: -1;

     }  

   .shrewsground2 {
  position: absolute;
  right: 0px;
  top: -40px;
  background-color: #4b6ade;
    width: 100%;
       height:330px;
       z-index: -1;

     }           
}
@media(min-width: 463px) {
  .shrewsground {
    height: 244px;
  }
}

@media (min-width: 494px) {
	.jumbotron {
		background-image: url(../img/banner_roof.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: bottom;
		padding-bottom: 90px;
	}

	.jumbotron h4 {
		display: block;
	}

  .est {
  position: relative;
  display: inline-block;
  color: #e0ba52;
  top: 130px;
  left: 200px;
  text-shadow: none;
}


}

@media (min-width: 494px) {

      .meet {
        left: -30%;
      }
}

@media (min-width: 501px) {

      .lemon h4, .lemon2 h4 {
    line-height: 30px;
}

.map-1 {
  display: block;
  padding-bottom: 30px;  
}

.map-2 {
  display: none;
}            

.shrewsground {
  height: 298px;
}

.shrewsground2 {
  height: 348px;
}

 .est {
  position: relative;
  display: inline-block;
  color: #e0ba52;
  top: 130px;
  left: 40%;
  text-shadow: none;
}


}

@media (min-width: 580px) {

    .carousel-caption{
    display: block;
}

.est {
  position: relative;
  display: inline-block;
  color: #e0ba52;
  top: 130px;
  left: 40%;
  text-shadow: none;
}

}

@media(min-width: 601px) {
  .shrewsground {
    height: 268px;
  }
}

@media(min-width: 609px) {
     .shrewsground {
  position: absolute;
  right: 0px;
  top: -40px;
  background-color: #e0ba52;
    width: 100%;
       height:268px;
       z-index: -1;

     }    

     .shrewsground2 {
  position: absolute;
  right: 0px;
  top: -40px;
  background-color: #4b6ade;
    width: 100%;
       height:338px;
       z-index: -1;

     }       

           .est {
  position: relative;
  display: inline-block;
  color: #e0ba52;
  top: 130px;
  left: 40%;
  text-shadow: none;
}  
}

@media(min-width: 736px) {

      .meet {
        left: -35%;
      }      

      .est {
  position: relative;
  display: inline-block;
  color: #e0ba52;
  top: 130px;
  left: 40%;
  text-shadow: none;
}
}

@media (min-width: 768px) {
	body {
  		background-image:  url("../img/background2.jpg");
            -webkit-background-size:  cover;   
            -moz-background-size:  cover;   
            -o-background-size:  cover;
  		background-size:  cover;
  		background-position: top;
      		background-repeat: no-repeat;
	}  	

.dropdown-menu li {
  border-bottom: none;
}

.lemon {
  position: relative;
  top: 0px;
  text-align: left;
}

     .tap {
  display: none;
}

.click {
  display: block;
}

.lemon  h2 {
  position: relative;
  top: -25px;
  color: white;
 -webkit-text-shadow: 1px 3px 4px #000;
-moz-text-shadow: 1px 3px 4px #000;
text-shadow: 1px 2px 4px #000;  
}

.lemon h4, .lemon2 h4 {
  font-size: 18px;
}

.lemon a {
  position: relative;
  top: 10px;
}  

.lemon2 {
  position: relative;
  top: 0px;
  text-align: left;
}

.lemon2  h2 {
  position: relative;
  top: -25px;
  color: white;
 -webkit-text-shadow: 1px 3px 4px #000;
-moz-text-shadow: 1px 3px 4px #000;
text-shadow: 1px 2px 4px #000;  
}

.lemon2 a {
  position: relative;
  top: 10px;
}  

.lemon2 h4{
  line-height: 30px;
}
}

.fairground {

	background-color: #444;
  	width: 100%;
       height:40%;
       z-index: -1;
	-webkit-box-shadow: inset 0px 0px 61px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 61px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 61px 0px rgba(0,0,0,0.75);
     }  

/*     .welcome {
  text-align: left;
}*/


.states img {
	overflow: hidden;
	max-height: 300px;
	max-width:  300px;
   height: 200px;
    width: 200px;
    border-radius: 100%;
    border: solid 4px #aaa; 
    margin-top: 20px;

        -webkit-filter: sepia(100%) hue-rotate(185deg) saturate(200%);
        filter: sepia(100%) hue-rotate(185deg) saturate(200%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;


}

.grand img {
         -webkit-filter: sepia(100%) saturate(200%);
        filter: sepia(100%) saturate(200%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        height: 250px;
        width: 250px;
}


    .states img:hover {
        -webkit-filter: blur(0);
        filter: blur(0);
    }

}

@media (min-width: 992px) {
	.facebook {
		visibility: visible;
		display: block;
	}

  .shrewsbury {
    display: block;
  }

  .shrewsbury2 {
    display: block;
  }  

       .lemon {
  position: relative;
top: 30px;
}

       .lemon2 {
  position: relative;
top: 30px;
}

     .shrewsground {
  position: absolute;
  right: 0px;
  top: -40px;
  background-color: #e0ba52;
    width: 100%;
       height:344px;
       z-index: -1;

     }   

           .shrewsground2 {
  position: absolute;
  right: 0px;
  top: -40px;
  background-color: #4b6ade;
    width: 100%;
       height:344px;
       z-index: -1;

     }    


  .title {
  text-align: left;
}

	.states img {
	height: 150px;
    width: 150px;
	}

    .grand img {
      height: 300px;
      width: 300px;
    }

.carousel {
  	width:640px;
       height:400px;
       margin: 0 auto;
     }

/*.carousel-control.left, .carousel-control.right {
    background-image: none
}     */

.fairground {
	position: absolute;
  right: 0px;
  top: 1px;
	background-color: #444;
  	width: 100%;
       height:400px;
       z-index: -1;
     } 
}


@media (max-width: 992px) {


	.quotes {
		display: none;
	}   


}

@media(min-width: 992px) {

     .lemon2 {
      margin-top: -30px;
     }
}

@media (min-width: 1200px) {
  .shrewsbury {
    padding-bottom: 130px;
  }

  .shrewsbury2 {
    padding-bottom: 130px;
  }  

    .shrewsground {
  position: absolute;
  right: 0px;
  top: -40px;
  background-color: #e0ba52;
    width: 100%;
       height:514px;
       z-index: -1;

     }     

         .shrewsground2 {
  position: absolute;
  right: 0px;
  top: -40px;
  background-color: #4b6ade;
    width: 100%;
       height:514px;
       z-index: -1;

     }       

     .lemon2 {
       margin-top: 30px;      
     }

     .lemon {
      margin-top: 30px;
     }
}