
.jumbotron {
	margin-bottom: 0;
	background: #4b6ade;
	color: white;
}

.navbar {
	position: relative;
	bottom: 51px;
	margin-bottom: 0;
}

.jumbotron {
	background-image: url(../img/banner_color.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 90px;
}

.compass {
	position: relative;
	bottom: 10px;
}

span {
	text-align: center;
}

@media (min-width: 410px) {
.jumbotron {
	background-image: url(../img/banner_roof.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 90px;
}	
}


